{% extends 'Web/layout.html' %}
{% load static %}

    {% block menuperso %}
    <a class="nav-link" href="{% url 'menu_usuario' %}">Menu <span class="visually-hidden">(current)</span></a>
    {% endblock menuperso %}

    {% block perfil %}
    <a class="dropdown-item" href="{% url 'Vista_Usuario' %}">Ver Perfil</a>
    {% endblock perfil %}

    <!-- ***** Menu Area Start ***** -->
    {% block menu %}

    <div class="contact-form-title"  >
        <center><p style="margin-top: 20px; font-size: 20px; color: black;margin-bottom: 10px;">¡Lo que estas buscando!</p></center>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-top: 20px;margin-bottom: 20px;">
                <div class="card">
                    <a class="" href="{% url 'metodo' %}">
                    <img class="card-img-top" src="{% static 'Web/img/comidas/pizza1.jpg' %}"
                        style="height: 220px;" alt="Pizza"></a>
                        <div class="card-body">
                            <h5 class="card-tittle">Pizza de pepperoni</h5>
                            <hr />
                            <h6 class="card-subtittle">Base de salsa de tomate y queso y pepperoni importado.</h6>
                            <h5 class="card-subtittle">$9.990</h5>                                                  
                        </div>     
                </div>
            </div>

            <div class="col-md-4" style="padding-top: 20px;margin-bottom: 20px;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'Web/img/comidas/empanada1.jpg' %}"
                        style="height: 220px;" alt="Pizza">
                    <div class="card-body">
                        <h5 class="card-tittle">Empanada de Pino</h5>
                        <hr />
                        <h6 class="card-subtittle">Masa de horno rellena con pino de carne</h6>
                        <h5 class="card-subtittle">$1.790</h5>                                                 
                    </div>      
                </div>
            </div>

            <div class="col-md-4" style="padding-top: 20px;margin-bottom: 20px;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'Web/img/comidas/hambur.jpeg' %}"
                        style="height: 220px;" alt="Pizza">
                    <div class="card-body">
                        <h5 class="card-tittle">Hamburguesa Italiana</h5>
                        <hr />
                        <h6 class="card-subtittle">Carne de vacuno, lechuga, tomate, mayonesa.</h6>
                        <h5 class="card-subtittle">$3.250</h5>                                                 
                    </div>      
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding-top: 20px;margin-bottom: 20px;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'Web/img/comidas/tacocrun.png' %}"
                        style="height: 220px;" alt="Pizza">
                    <div class="card-body">
                        <h5 class="card-tittle">Taco Supreme</h5>
                        <hr />
                        <h6 class="card-subtittle">Tortilla de maíz con proteína a elección, sour cream, lechuga, queso cheddar y tomates.</h6>
                        <h5 class="card-subtittle">$3.000</h5>                                                  
                    </div>      
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 20px;margin-bottom: 20px;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'Web/img/comidas/tacosupreme.png' %}"
                        style="height: 220px;" alt="Pizza">
                    <div class="card-body">
                        <h5 class="card-tittle">Taco Crunchy</h5>
                        <hr />
                        <h6 class="card-subtittle">Tortilla de maíz con proteína a elección, lechuga y queso cheddar.</h6>
                        <h5 class="card-subtittle">$2.100</h5>                                                  
                    </div>      
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 20px;margin-bottom: 20px;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'Web/img/comidas/calzon.jpg' %}"
                        style="height: 220px;" alt="Pizza">
                    <div class="card-body">
                        <h5 class="card-tittle">Minicalzzone Queso 6 Unid.</h5>
                        <hr />
                        <h6 class="card-subtittle">Minicalzzone rellenos con Queso.</h6>
                        <h5 class="card-subtittle">$2.990</h5>                                                  
                    </div>      
                </div>
            </div>
        </div>
        
    </div>

    {% endblock menu %}
    <!-- ***** Menu Area End ***** -->


