{% extends 'Web/layout.html' %}
{% load static %}

    {% block script %}
    <style>
        #link { color: #000000; } /* CSS link color */
        #link {text-decoration: none; }
    </style>
    {% endblock script %}

    <!-- ***** MENU PERSONALIZADO EN NAV ***** -->
    {% block menuperso %}
    <a class="nav-link" href="{% url 'menu_usuario' %}">Menu <span class="visually-hidden">(current)</span></a>
    {% endblock menuperso %}
    <!------------------------------------------->

    <!-- ***** AÑADIR CERRAR SESION Y ALGO MAS ***** -->
    {% block nav1 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'direccion_usuario' %}">Dirección</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pedidos' %}">Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'menu' %}">Cerrar Sesión</a>
    </li>
    {% endblock nav1 %}
   <!------------------------------------------->

    <!-- ***** AÑADIR VER PERFIL ***** -->
    {% block perfil %}
    <a class="dropdown-item" href="{% url 'Vista_Usuario' %}">Ver Perfil</a>
    {% endblock perfil %}
    <!------------------------------------------->
    <!------------------------------------------->
    <!------------------------------------------->
    <!-- ***** Menu Area Start ***** -->
    {% block menu %}

    <div class="contact-form-title">
        <center><p style="margin-top: 10px; font-size: 20px; color: black;margin-bottom: 20px;">Pedidos</p></center>
    </div>
    <a id="link" href="{% url 'confirmar' %}">
        <div class="container" align="center" style="padding-top: 30px;">
            <div class="rectangulo">
                <div class="row">
                    <div class="col-6">
                        <p>Pedido No: #75033</p>
                    </div>
                    <div class="col-6">
                        <p>EN PROCESO</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    

    <div class="container" align="center" style="padding-top: 30px;">
        <div class="rectangulo">
            <div class="row">
                <div class="col-6">
                    <p>Pedido No: #25411</p>
                </div>
                <div class="col-6">
                    <p>ENTREGADO</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock menu %}
    <!-- ***** Menu Area End ***** -->