{% extends 'Web/layout.html' %}
{% load static %}

    <!-- ***** Menu Area Start ***** -->
    {% block menu %}

    <h2 class="test" >Test</h2>


    <div class="contact-form">
        <div class="contact-form-title">
            <center><p style="margin-top: 10px; font-size: 20px; color: black;">Registrarse</p></center>
        </div>
        <form action="#" method="POST" name="formRegi" id="formRegi" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
            <div>
                {% for i in messages %}
                <p style="color: red;">{{ i }}</p>
                {% endfor %}
            </div>

            {% endif %}
            <div class="row">
                
                <div class="col-12 contact-form-title" >
                    <p style="margin-bottom: 10px;">Nombre(s):</p>
                    <input type="text" class="form-control" placeholder="Introduzca su nombre" id="nomUser" name="nomUser" required>
                </div>
                <div class="col-12 contact-form-title">
                    <p style="margin-bottom: 10px;">Apellido(s)</p>
                    <input type="text" class="form-control" placeholder="Introduzca su apellido" id="apeUser" name="apeUser">
                </div>
                <div class="col-12 contact-form-title">
                    <p style="margin-bottom: 10px;">Email</p>
                    <input type="email" class="form-control" placeholder="Introduzca su correo electrónico" name="email" id="email" required>
                </div>
                <div class="col-12 contact-form-title">
                    <p style="margin-bottom: 10px;">Contraseña</p>
                    <input type="password" class="form-control" placeholder="" name="password1" id="password1" required>
                </div>
                <div class="col-12 contact-form-title">
                    <p style="margin-bottom: 10px;">Confirme su contraseña</p>
                    <input type="password" class="form-control" placeholder=""name="password2" id="password2" required>
                </div>
                <div class="col-12 contact-form-title">
                    <center>
                    <input type="submit" class="gradient-button gradient-button-1" value="Registrarse" >
                    <input type="reset" class="gradient-button gradient-button-2">
                    <p id="mensajeReg"></p>
                    </center>
                </div>
            </div>
        </form>
    </div>

    {% endblock menu %}
    <!-- ***** Menu Area End ***** -->