{% extends 'Web/layout.html' %}
{% load static %}

    <!-- ***** LISTAR ADMINISTRADOR VISTA DE ADMIN ***** -->
    {% block listar %}
    <a class="nav-link" href="{% url 'Listar_Usuario' %}">Listar Administradores</a>
    {% endblock listar %}
    <!------------------------------------------->

    <!-- ***** AÑADIR CERRAR SESION Y ALGO MAS ***** -->
    {% block nav1 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'stock_admin' %}">Stock Disponible</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'menu' %}">Cerrar Sesión</a>
    </li>
    {% endblock nav1 %}
   <!------------------------------------------->

    <!-- ***** AÑADIR VER PERFIL ***** -->
    {% block perfil %}
    <a class="dropdown-item" href="{% url 'Vista_Admin' %}">Ver Perfil</a>
    {% endblock perfil %}
    <!------------------------------------------->
    <!------------------------------------------->
    <!------------------------------------------->
    <!-- ***** Menu Area Start ***** -->
    {% block menu %}

    <div class="container">
        <div class="contact-form12">
            <div class="contact-form-title">
                <center><p style="margin-top: 10px; font-size: 20px; color: black;">Stock Disponible</p></center>
            </div>
            
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-3 contact-form-title" >
                    <p style="margin-bottom: 10px;">Stock Bebidas:</p>
                    <input type="text" class="form-control" placeholder="100 Unid." id="nomUser" name="nomUser" readonly="readonly">
                </div>
                <div class="col-3 contact-form-title">
                    <p style="margin-bottom: 10px;">Stock Queso:</p>
                    <input type="text" class="form-control" placeholder="50 Unid." id="apeUser" name="apeUser" readonly="readonly">
                </div>
                <div class="col-3 contact-form-title">
                    <p style="margin-bottom: 10px;">Stock Carne:</p>
                    <input type="email" class="form-control" placeholder="60 Unids." name="email" id="email" readonly="readonly">
                </div>
                <div class="col-3 contact-form-title">
                    <p style="margin-bottom: 10px;">Stock Harina:</p>
                    <input type="password" class="form-control" placeholder="100 Kilos." name="password1" id="password1" readonly="readonly">
                </div>
            </div>

            <div class="row">
                <div class="col-3 contact-form-title" >
                    <p style="margin-bottom: 10px;">Stock Pepperoni:</p>
                    <input type="text" class="form-control" placeholder="500 Unid." id="nomUser" name="nomUser" readonly="readonly">
                </div>
                <div class="col-3 contact-form-title">
                    <p style="margin-bottom: 10px;">Stock Verduras:</p>
                    <input type="text" class="form-control" placeholder="100 Unid." id="apeUser" name="apeUser" readonly="readonly">
                </div>
                <div class="col-3 contact-form-title">
                    <p style="margin-bottom: 10px;">Stock Masa para taco:</p>
                    <input type="email" class="form-control" placeholder="100 Unids." name="email" id="email" readonly="readonly">
                </div>
                <div class="col-3 contact-form-title">
                    <p style="margin-bottom: 10px;">Stock Condimentos:</p>
                    <input type="password" class="form-control" placeholder="200 Unids." name="password1" id="password1" readonly="readonly">
                </div>
            </div>

        </div>
    </div>

    {% endblock menu %}
    <!-- ***** Menu Area End ***** -->