{% extends 'Web/layout.html' %}
{% load static %}

    <!-- ***** MENU PERSONALIZADO EN NAV ***** -->
    {% block menuperso %}

    {% endblock menuperso %}
    <!------------------------------------------->

    <!-- ***** LISTAR ADMINISTRADOR VISTA DE ADMIN ***** -->
    {% block listar %}

    {% endblock listar %}
    <!------------------------------------------->

    <!-- ***** AÑADIR CERRAR SESION Y ALGO MAS ***** -->
    {% block nav1 %}

    {% endblock nav1 %}
   <!------------------------------------------->

    <!-- ***** AÑADIR VER PERFIL ***** -->
    {% block perfil %}

    {% endblock perfil %}
    <!------------------------------------------->
    <!------------------------------------------->
    <!------------------------------------------->
    <!-- ***** Menu Area Start ***** -->
    {% block menu %}

    

    {% endblock menu %}
    <!-- ***** Menu Area End ***** -->